.genreWrapper {
    padding: 20px 16px;
}
.wrapper {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
@media (min-width: 600px) {
    .genreWrapper{
        padding-left: 24px;
        padding-right: 24px;
    }
}
